@using Testovoe.Models;
@model IEnumerable<Client>;
@{
    ViewBag.Title = "Все пользователи";
}
<a asp-action="CreateClient">Добавить пользователя</a>
<table class="table">
    <tr>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Телефон</td>
        <td>Бонусы</td>
        <td>Скидка</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SecondName</td>
            <td>@item.PhoneNumber</td>
            <td>@item.BonusBalance</td>
            <td>@item.Discount</td>
            <td> 
                @*<a asp-action="EditClient" asp-controller="Home" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="DeleteClient" asp-controller="Home" asp-route-id="@item.Id">Удалить</a>*@
            </td>
        </tr>
    }
</table>