@model Testovoe.Controllers.HomeController.Transaction
@{
    ViewBag.Title = "Добавление Чека";
}
<a asp-action="ClientList">Выбрать клиента</a>
<form asp-action="NewDeal1" asp-controller="home">
    <div class="form-group">
        <label asp-for="date" class="control-label">Дата</label>
        <input type="text" asp-for="date" class="form-control" value="@Model.date" />
    </div>
    <div class="form-group">
        <label>Имя пользователя: @Model.userFullName</label>
    </div>
    <div class="form-group">
        <label>Имя  клиента: @Model.clientFullName</label>
    </div>
    <div class="form-group">
        <label>Бонусы клиента: @Model.bonusBalance</label>
    </div>
    <div class="form-group">
            <label asp-for="amountOfPurchase" class="control-label">Вышло</label>
            <input type="text" asp-for="amountOfPurchase" class="form-control" />
        </div>
    <div class="form-group">
        <input type="hidden" asp-for="clientId" class="form-control" value="@Model.clientId" />
    </div>
    @*<div class="form-group">
        <label asp-for="amountOfPurchase" class="control-label">Вышло</label>
        <input id="x" type="number" value="0" asp-for="amountOfPurchase" class="form-control">
        <label>Со скидкой клиента</label>
        <input id="y" type="text" value="0" disabled>
        <script type="text/javascript">
            x.addEventListener('input', function () {
                y.value = (this.value * 2.0).toFixed(2);
            });

        </script>
    </div>*@
    <div class="form-group">
        <label id="ad" asp-for="transactionAmout" class="control-label">Итого</label>
        <input type="text" asp-for="transactionAmout" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="upBonus" class="control-label">Будет начислено</label>
        <input type="text" asp-for="upBonus" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="downBonus" class="control-label">Списать бонусы</label>
        <input type="text" asp-for="downBonus" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
