@model Testovoe.Controllers.HomeController.Transaction
@{
    ViewBag.Title = "Добавление Чека";
}
<a asp-action="ClientList">Выбрать клиента</a>
<form asp-action="NewDeal1" asp-controller="home">
    <div class="form-group">
        <label>Дата: @Model.Date</label>
    </div>
    <div class="form-group">
        <label>Имя пользователя: @Model.UserFullName</label>
    </div>
    <div class="form-group">
        <label>Имя  клиента: @Model.ClientFullName</label>
    </div>
    <div class="form-group">
        <label>Бонусы клиента: @Model.BonusBalance</label>
    </div>
    <div class="form-group">
        <label asp-for="AmountOfPurchase" class="control-label">Сумма покупок</label>
        <input id="summ" type="number" asp-for="AmountOfPurchase" class="form-control" value="0" />
    </div>
    <div class="form-group">
        <label asp-for="DownBonus" class="control-label">Списать бонусы</label>
        <input id="bon" type="number" asp-for="DownBonus" class="form-control" value="0" />
    </div>
    <div class="form-group">
        <input asp-for="ClientId" class="form-control" value="@Model.ClientId" hidden />
    </div>
    <div class="form-group">
        <label>Итого к оплате</label>
        <input id="itog" type="text" class="form-control" disabled />
        <input id="itog1" type="text" asp-for="TransactionAmout" class="form-control" hidden />
    </div>
    <div class="form-group">
        <label asp-for="UpBonus" class="control-label">Бонусов будет начислено</label>
        <input id="plus" type="text" class="form-control" disabled />
        <input id="plus1" type="text" asp-for="UpBonus" class="form-control" hidden />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
    <div id="div">
          <input type="number" id="id0" name="value[]">
    </div>
    <input type="button" id="button" value="Создать">
    <script type="text/javascript">
        var count = 1;
        button.addEventListener("click", function () {
            var input = document.createElement('INPUT');
            input.type = 'number';
            input.setAttribute("id", "id" + count);
            input.name = "value[]";
            document.querySelector('#div').appendChild(input);
            summ.value = parseInt(document.getElementById('summ').value) + parseInt(document.getElementById('id' + (count - 1)).value);
            sum();
            count++;
        });

        bon.addEventListener('input', sum);
        summ.addEventListener('input', sum);
        function sum() {
            var a = parseInt(document.getElementById('summ').value);
            var b = parseInt(document.getElementById('bon').value);
            var c = a - b;
            var d = c * .05;
            itog.value = itog1.value = c;
            plus.value = plus1.value = d.toFixed();
        };
    </script>
</form>
